/* span {
  font-family: "Kurale", serif;
  font-family: "Macondo", cursive;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "Playfair Display", serif;
} */
body {
  font-family: "Kurale", serif;
  margin: 0;
  padding: 0;
}